<!DOCTYPE html>
<html>
        <head>
                <title>YBH Attendance System</title>
                <meta charset="utf-8">
                <meta name="viewport" content="width=device-width, initial-scale=1">
                <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
                <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
                <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
                <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
              </head>
<body>
        <h1>السَّلامُ عَلَيْكُم</h1>
        <form actions='#'>
        <div class="table-responsive">          
                <table class="table">
                        <thead class="thead-dark">
                          <tr>
                            <th>SID</th>
                            <th>Name</th>
                            <th>Action</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <th>343A</th>
                            <td>MOHAMED RISWAN</td>
                            <td>
                                <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                    <label class="btn btn-outline-success">
                                      <input type="radio" name="options" id="option1" checked> Present
                                    </label>
                                    <label class="btn btn-outline-danger">
                                      <input type="radio" name="options" id="option2"> Absent
                                    </label>
                                </div>
                            </td>
                          </tr>
                          <tr>
                            <th>367A</th>
                            <td>SULTHAN HARRISH FAROZ</td>
                            <td>
                                    <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                        <label class="btn btn-outline-success">
                                          <input type="radio" name="options" id="option1" checked> Present
                                        </label>
                                        <label class="btn btn-outline-danger">
                                          <input type="radio" name="options" id="option2"> Absent
                                        </label>
                                    </div>
                                </td>
                          </tr>
                        </tbody>
                      </table>
              </div>
              <button type="submit" class="btn btn-primary">Submit Attendance</button>
            </form>

</body>
</html>
