<!DOCTYPE html>
<html>
        <head>
                <title>Dashboard</title>
                <meta charset="utf-8">
                <meta name="viewport" content="width=device-width, initial-scale=1">
                <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
                <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
                <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
                <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
                <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
                <script src="..\static\javascript.js"></script>
                <link rel="stylesheet" href="..\static\style.css">
        </head>

<body class ="bg-light" onload="retrieve()">
        <!--NAV BAR-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <label class="navbar-brand">السَّلامُ عَلَيْكُم {{session['userName']}}! </label>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarMenu">
                          <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarMenu">
                        <ul class="navbar-nav ml-auto">
                                <li class="nav-item">
                                        <a class="nav-link" href="/dashboard">Dashboard</a>
                                </li>
                                <li class="nav-item">
                                        <a class="nav-link" href="/logout">Logout</a>
                                </li>
                        </ul>
                </div>
        </nav>

        <!--CONTENT PANE-->
        <main role="main" class="container">
                <div class="card my-3 p-2">
                        <h6 class="card-title border-bottom border-gray pb-2 mb-0">Let's take attendance for today</h6>
                        <div class="card-body p-0 mb-0" id='todaySection'>
                                <ul class="list-group list-group-flush" id="classButtons">
                                        {% for class in session['classList'] %} 
                                        <li class="list-group-item"><a href="/attendance/{{class}}"> <button type="submit" class="btn btn-outline-info">{{class}}</button> </a>
                                        </li>
                                        {% endfor %}
                                </ul>
                        </div>
                </div>

                <div class="card my-3 p-2" id='previousSection'>
                                <h6 class="card-title border-bottom border-gray pb-2 mb-0">Previous attendance</h6>
                </div>
        </main>
</body>